{% extends 'base.html' %}
{% block main %}
    <h4 class="card-title">Список абонентов</h4>

    {% if message %}
        <p class="alert alert-success">
            <strong>{{ message }}</strong>
        </p>
    {% endif %}

    {% if latest_subscribers %}
        {% for Subscriber in latest_subscribers %}
            <li>
                <a href="/phones/{{ Subscriber.id }}/">{{ Subscriber.Name }}</a>, {{ Subscriber.Address }}
            </li>
        {% endfor %}
    {% else %}
        <p>Справочник пустой.</p>
    {% endif %}
{% endblock %}
